body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(19, 212, 68);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  width: 120px;
}

.transition {
  transition: transform 150ms;
}

.right {
  transform: rotate(0deg);
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.up {
  transform: rotate(-90deg);
}

.move {
  offset-path: path('M60,60');
  offset-position: left top;
}
