body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(19, 212, 68);
}

img {
  position: absolute;
  width: 13%;
  transform-origin: center;
}

.right {
  transform: rotate(0deg);
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.up {
  transform: rotate(-90deg);
}

.transition {
  transition: transform 150ms;
}
